body{
    background-color: #4682B4;
}

h1{
    background-color: #333;
    text-align: left;
    margin-bottom: 0px;
}

h2{
    font-family: monospace;
    color: cornsilk;
    background-color: #333;

}

p.pfin{
    text-align: center;
    font-family: verdana;
    font-size: 12px;
}

p.pfin2{
    text-align: center;
    font-family: verdana;
    font-size: 12px;
}

p.p01{
    font-family: verdana;
    text-align: center;
    color: white;
}

p.p02{
    text-align: justify;
    font-family: verdana;
    font-size: 12px;
    color: white;
}

p.sep{
    font-family: verdana;
    font-size: 20px;
}

ul{ 
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    background-color: #272626 ;
}

li{
    float: left; 
}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #FF4500; 
}

.active{
    background-color: #FF4500;
}

img{
    width: 250px;
}

img.facebook{
    background-color: none;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    float: right;
}

img.twitter{
    background-color: none;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    float: right;
}

img.instagram{
    background-color: none;
    width: 50px;
    height: 50px;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
    float: right;
}

img.campeon{
    width: 500px;
}


img.tuca{
    width: 350px;
}

img.oribe{
    width: 350px;
}

img.boy{
    width: 350px;
}

img.layun{
    width: 350px;
}

#article{
    position: static;
    width: 1000px;
    background-color: black;
    font-family: verdana;
    color: white;
    margin: 0px;

}

#sec1 {
    display: inline-block;
    position: relative;
    left: 50px;
    width: 350px;
    background-color: rgb(83, 78, 78);
    color: white;
    margin-top: 50px;
    margin-left: 25px;
}

#sec2 {
    position: relative;
    left: 150px;
    width: 350px;
    background-color: rgb(83, 78, 78);
    color: white;
    margin-top: 25px;
}
